@model ShoppingWeb.MvcClient.DTOs.User.UserProfileResponseDTO

<h2>👤 Profile Info</h2>

@if (TempData["Success"] != null)
{
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}
<form asp-action="UpdateProfile" asp-controller="User" method="post" class="form-horizontal">
	<div class="form-group">
		<label>Username</label>
		<input class="form-control" value="@Model.Username" readonly />
	</div>

	<div class="form-group">
		<label>Email</label>
		<input class="form-control" value="@Model.Email" readonly />
	</div>

	<div class="form-group">
		<label asp-for="FullName"></label>
		<input asp-for="FullName" class="form-control" />
		<span asp-validation-for="FullName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Phone"></label>
		<input asp-for="Phone" class="form-control" />
		<span asp-validation-for="Phone" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Address"></label>
		<input asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Created At</label>
		<input class="form-control" value="@Model.CreatedAt?.ToString("yyyy-MM-dd HH:mm")" readonly />
	</div>

	<button type="submit" class="btn btn-primary mt-2">Update</button>
</form>